WCFExercise/Service References/ServiceReference2/Service161.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetHeightRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="height" type="xs:double" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetHeightRequest" nillable="true" type="tns:GetHeightRequest" />
  <xs:complexType name="GetWeightRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWeightRequest" nillable="true" type="tns:GetWeightRequest" />
  <xs:complexType name="BMIConversionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="height" type="xs:double" />
      <xs:element minOccurs="0" name="weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BMIConversionRequest" nillable="true" type="tns:BMIConversionRequest" />
</xs:schema>