TemperatureConverter/Service References/ServiceReference1/ConvertTemperature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CelciusToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celcius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelciusToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToKelvin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celcius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToKelvinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelciusToKelvinResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelcius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelciusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FahrenheitToCelciusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToKelvin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToKelvinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FahrenheitToKelvinResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToCelcius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kelvin" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToCelciusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KelvinToCelciusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kelvin" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KelvinToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CelciusToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:CelciusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="CelciusToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:CelciusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="CelciusToKelvinSoapIn">
    <wsdl:part name="parameters" element="tns:CelciusToKelvin" />
  </wsdl:message>
  <wsdl:message name="CelciusToKelvinSoapOut">
    <wsdl:part name="parameters" element="tns:CelciusToKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelciusSoapIn">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelcius" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelciusSoapOut">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelciusResponse" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToKelvinSoapIn">
    <wsdl:part name="parameters" element="tns:FahrenheitToKelvin" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToKelvinSoapOut">
    <wsdl:part name="parameters" element="tns:FahrenheitToKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="KelvinToCelciusSoapIn">
    <wsdl:part name="parameters" element="tns:KelvinToCelcius" />
  </wsdl:message>
  <wsdl:message name="KelvinToCelciusSoapOut">
    <wsdl:part name="parameters" element="tns:KelvinToCelciusResponse" />
  </wsdl:message>
  <wsdl:message name="KelvinToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:KelvinToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="KelvinToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:KelvinToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:portType name="ConvertTemperatureSoap">
    <wsdl:operation name="CelciusToFahrenheit">
      <wsdl:input message="tns:CelciusToFahrenheitSoapIn" />
      <wsdl:output message="tns:CelciusToFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelciusToKelvin">
      <wsdl:input message="tns:CelciusToKelvinSoapIn" />
      <wsdl:output message="tns:CelciusToKelvinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelcius">
      <wsdl:input message="tns:FahrenheitToCelciusSoapIn" />
      <wsdl:output message="tns:FahrenheitToCelciusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToKelvin">
      <wsdl:input message="tns:FahrenheitToKelvinSoapIn" />
      <wsdl:output message="tns:FahrenheitToKelvinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KelvinToCelcius">
      <wsdl:input message="tns:KelvinToCelciusSoapIn" />
      <wsdl:output message="tns:KelvinToCelciusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KelvinToFahrenheit">
      <wsdl:input message="tns:KelvinToFahrenheitSoapIn" />
      <wsdl:output message="tns:KelvinToFahrenheitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvertTemperatureSoap" type="tns:ConvertTemperatureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelciusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/CelciusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelciusToKelvin">
      <soap:operation soapAction="http://tempuri.org/CelciusToKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelcius">
      <soap:operation soapAction="http://tempuri.org/FahrenheitToCelcius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToKelvin">
      <soap:operation soapAction="http://tempuri.org/FahrenheitToKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToCelcius">
      <soap:operation soapAction="http://tempuri.org/KelvinToCelcius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/KelvinToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConvertTemperatureSoap12" type="tns:ConvertTemperatureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelciusToFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/CelciusToFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelciusToKelvin">
      <soap12:operation soapAction="http://tempuri.org/CelciusToKelvin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelcius">
      <soap12:operation soapAction="http://tempuri.org/FahrenheitToCelcius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToKelvin">
      <soap12:operation soapAction="http://tempuri.org/FahrenheitToKelvin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToCelcius">
      <soap12:operation soapAction="http://tempuri.org/KelvinToCelcius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/KelvinToFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConvertTemperature">
    <wsdl:port name="ConvertTemperatureSoap" binding="tns:ConvertTemperatureSoap">
      <soap:address location="http://localhost:59270/ConvertTemperature.asmx" />
    </wsdl:port>
    <wsdl:port name="ConvertTemperatureSoap12" binding="tns:ConvertTemperatureSoap12">
      <soap12:address location="http://localhost:59270/ConvertTemperature.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>