EmployeeWebService/EmployeeWebApp/Service References/EmployeeService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2345/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EmployeeRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmployeeDetails">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmployeeRequest" nillable="true" type="tns:EmployeeRequest" />
  <xs:complexType name="EmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
  <xs:complexType name="EmployeeResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Status" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmployeeResponse" nillable="true" type="tns:EmployeeResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeDetails" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorList" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ArrayOfEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeResponse" nillable="true" type="tns:EmployeeResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeResponse" nillable="true" type="tns:ArrayOfEmployeeResponse" />
</xs:schema>