EmployeeWebService/EmployeeWebApp/Service References/EmployeeService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2345/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeWebService" />
  <xs:element name="CreateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="request" nillable="true" type="q1:EmployeeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="CreateEmployeeResult" nillable="true" type="q2:EmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="ReadAllEmployeeResult" nillable="true" type="q3:ArrayOfEmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSpecificEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="request" nillable="true" type="q4:EmployeeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSpecificEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="ReadSpecificEmployeeResult" nillable="true" type="q5:EmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="request" nillable="true" type="q6:EmployeeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="UpdateEmployeeResult" nillable="true" type="q7:EmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="request" nillable="true" type="q8:EmployeeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmployeeWebService" minOccurs="0" name="DeleteEmployeeResult" nillable="true" type="q9:EmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>